html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html {
    color: #000;
    font-size: 62.5%;
}
/* strip styles */
h1,
h2, 
h3, 
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    font-size: 1.6rem;
    font-family: 'Lora', serif;
    background-color: #f1f8f9;
}

.wrapper {
    max-width: 1900px;
    width: 75%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* header */

header {
    /* height: 20vh; */
    font-family: 'Indie Flower', cursive;
    background-color: #fff;
    border-bottom: 1px solid #d3d8d9;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.link {
    /* font-style: italic; */
    text-transform: capitalize;
    font-weight: 400;
    color: #10a4d4;
    font-family: 'Indie Flower', cursive;
}

.archive-link:hover,
.archive-link:focus {
    color: #10a4d4;
}
li {
    list-style: none;
    padding: 10px;
    margin-top: 5px;  
    line-height: 1.6;
}

.border{
    border: 3px solid rgba(16, 164, 212, 0.3);
}

.li {
    padding: 5px;
    margin-top: 3px;
}
.list{
    font-weight: bold;
}

a {
    text-decoration: none;
    color: mintcream;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
}
.a {
    text-decoration: none;
    color: #10a4d4;
    text-transform: none;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Indie Flower', cursive;
}

.firstUL {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.firstUL li a:hover{
    color: black;
}
h1 {
    margin-top: 15px;
}
h1, h2 {
    text-align: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
    background-color: #10a4d4;
    justify-content: space-between;
    padding: 5px;
}

.page-title {
    text-align: left;
    font-family: 'Indie Flower', cursive;
    color: #10a4d4;
}

/* main */


h3 {
    padding: 10px;
}

p {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 5px;
    /* padding: 5px; */
}

.js-main, .js-main1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.container-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #10a4d4;
    background-color: #fff;
    /* height: 500px; */
    width: 40%;
    margin-top: 50px;
    text-align: center;
}
 .img-div img {
     /* width: 90%; */
     height: 200px;
 }

 .csv-pull {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .csv-pull img{
    height: 300px;
    padding: 20px;
 }
.js-about, .js-contact {

    padding: 10px;

}

.js-about p {
    margin-top: 30px;
}

.js-click {
    font-family: 'Indie Flower', cursive;
    color: #10a4d4;
    text-transform: lowercase;
}

.main-display {
    margin: 0 10px;
}

.data-pulling-section h2,
.data-pulling-section h3,
.spacex h2,
.spacex h3 {
    padding: 10px;
}

.fab {
    size: 4px;
    color: #10a4d4;
}

.blue {
    color: #10a4d4;
}

.code {
    color: #0b62f3;
    font-weight: 700;
}

.contact-me {

    margin-left: 20px;
    text-transform: none;
    font-weight: 200;
    color: #10a4d4;
}
/* archive */
.archive li a {
    text-transform: none;
    color: black;
    font-weight: 200;
}

.archive li {
    padding: 5px;
    margin-top: 0px;
}

.fa-grin-alt {
    color: #0f4ff2;
}

.fa-smile {
    color: #0f97f2;
}
.break {
    margin-top: 45px;
}
.last-p {
    margin-bottom: 40px;
}

/* for coding */
.code-box {
    background: black;
    width: 50%;
    color: white;
    margin-left: 10px;

}

.code-box code {
    margin-left: 10px;
    padding: 3px;
}

.function {
    color: peru;
    font-weight: bold;
}

.comment {
    color: #33adff;
    font-style: italic;
}

.comment::before {
    content: "#";
}
.block {
    display: block;
}

.val {
    color: #ff3385;
}
/* end of code elements */

footer p {
    font-size: 1.4rem;
    color: grey;
}

.restyle img {
    max-width: 80%;
    height: 200px;
}

button:hover,
button:focus,
.link:hover,
.link:focus,
.js-click:hover,
.js-click:focus {
	color: #000;
}

button {
	background: none;
	border: none;
	color: #10a4d4;
}

.see-more-btn{
    background: #10a4d4;
    color: white;
    font-family: 'Indie Flower', cursive;
    padding: 15px;
    border-radius: 10px;
}

.btn-div {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.see-more-btn:hover{
    background: #79E4F4;
}



.hamburger,
.exit-responsive {
	display: none;
}

.exit-responsive {
	position: relative;
	top: 30px;
	left: 30px;
}


.h3-center {
    text-align: center;
}

.p1-datascience-flex {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 15px;
}

.p1-datascience-flex div {
    width: 70%;
    margin-right: 20px;
}

.p1-datascience-flex img {
    width: 30%;
    max-height: 300px;
}

@media (max-width: 768px) {
    a, p {
        font-size: 1.6rem;
    }
    p {
        line-height: 1.6;
    }

    .js-main, .js-main1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-post {
        width: 80%;
    }

    .last-reactive {
        margin-bottom: 15px;
    }
    li {
        list-style: none;
        padding: 5px;
        margin-top: 0;
    }
    
    /* .firstUL {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        width: 80%;
    }
    .firstUL li {
        display:none;
    }
    .hamburger {
		display: block;
        font-size: 25px;
        color:  #fff;
    } */


    .p1-datascience-flex {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .p1-datascience-flex div {
        width: 100%;
        order: 2;
    }
    .p1-datascience-flex img {
        width: 50%;
        order: 1;
    }    
}

@media (max-width: 380px) {

    body {
        font-size: 1.6rem;
    }
    a {
        font-size: 1.3rem;
    }
    /* p {
        font-size: 1.5rem;
        line-height: 1.5;
    } */


    .container-post {
        width: 95%;
        margin-top: 25px;
    }

    .p1-datascience-flex img {
        width: 70%;
        order: 1;
    }  
}